[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
spotipy = "*"
"flake8" = "*"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"
