[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
spotipy = "*"
"flake8" = "*"
pandas = "*"
click = "*"
"urllib3" = "*"
spotifyanalysis = {editable = true, path = "."}

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"
